<h1>Hogwart's Professors</h1>

<% @professors.each do |professor| %>
  <h3>Name: <%= professor.name %></h3>
    <ul>
      <li>Age: <%= professor.age %></li>
      <li>Specialty: <%= professor.specialty %></li>
    </ul>
<% end %>
